## 1. Read iris dataset (shared with the named “iris” in the file section inside the dataset folder) using K-Means calculate the accuracy and F1 score.

In [52]:
#importing libraries
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.metrics import f1_score, accuracy_score

In [53]:
df = pd.read_csv('iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width  plant
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

In [54]:
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values
kmeans = KMeans(n_clusters = 3, init = 'k-means++')
y_pred = kmeans.fit_predict(X)

In [56]:
print('Accuracy score :',accuracy_score(y_pred, y))
print('f1 Score(weighted) :', f1_score(y, y_pred, average = 'weighted'))
print('f1 Score(micro) :', f1_score(y, y_pred, average = 'micro'))
print('f1 Score(macro) :', f1_score(y, y_pred, average = 'macro'))
print('f1 Score(None) :', f1_score(y, y_pred, average = None))

Accuracy score : 0.24
f1 Score(weighted) : 0.2727272727272727
f1 Score(micro) : 0.24
f1 Score(macro) : 0.2727272727272727
f1 Score(None) : [0.         0.         0.81818182]

## 2. Implement spam and non-spam classification task (shared with the named “SMSspamcollection” in the file section inside the dataset folder) using Naïve Bayes calculate the accuracy.

In [57]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix , accuracy_score

In [58]:
data2 = pd.read_csv('spam.csv',encoding='latin-1')
data2.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [59]:
data2.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1,inplace=True)
data2.dropna(inplace=True)
data2.head(10)

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [60]:
x = data2.v2
y = data2.v1
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)
vectorizer = CountVectorizer()
count = vectorizer.fit_transform(x_train.values)

In [61]:
model = MultinomialNB()
targets = y_train.values
model.fit(count,targets)

MultinomialNB()

In [62]:
y_pred = model.predict(vectorizer.transform(x_test))
confusion_matrix(y_test,y_pred)

array([[954,   3],
       [ 19, 139]], dtype=int64)

In [63]:
accuracy_score(y_pred,y_test)

0.9802690582959641

## 3. Read iris dataset (shared with the named “iris” in the file section inside the dataset folder) using Logistic Regression calculate the accuracy and the classification score (precision recall f1-score).

In [64]:
#importing required libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,classification_report
from sklearn.preprocessing import StandardScaler

In [65]:
df = pd.read_csv('iris.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width  plant
0           5.1          3.5           1.4          0.2      0
1           4.9          3.0           1.4          0.2      0
2           4.7          3.2           1.3          0.2      0
3           4.6          3.1           1.5          0.2      0
4           5.0          3.6           1.4          0.2      0

In [66]:
#checking null values
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
plant           0
dtype: int64

In [67]:
x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

X_train, X_test, y_train, y_test = train_test_split(x, y,stratify=df['plant'], test_size = 0.25, random_state = 2)

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# fitting logistic regression to to the training set
classifier = LogisticRegression(random_state=2)
classifier.fit(X_train, y_train)

LogisticRegression(random_state=2)

In [68]:
y_pred = classifier.predict(X_test)

In [69]:
print("Accuracy Score :",accuracy_score(y_test, y_pred))

Accuracy Score : 1.0

In [71]:
print('Classification Report :\n')
print(classification_report(y_test, y_pred))

Classification Report :

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        13
           1       1.00      1.00      1.00        13
           2       1.00      1.00      1.00        12

    accuracy                           1.00        38
   macro avg       1.00      1.00      1.00        38
weighted avg       1.00      1.00      1.00        38